<!-- the main header bar -->
<nav class="navbar navbar-inverse" id="login_bar">
    <span id="top"></span>
    <ul class="nav navbar-nav">
        <li id="homeBtn" class="active">
            <a onclick="reloadGameList(); return false;" href>Home</a>
        </li>
        <li id="profileBtn">
            <a onclick="getProfile(); return false;" href>Profile</a>
        </li>
        <li id="highScoreBtn">
            <a onclick="showHighScores(); return false;" href>High Scores</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#" style="margin-right: 20px;" data-toggle="modal" data-target="#loginModal">Login</a>
        </li>
    </ul>
</nav>

<!-- showing the login modal -->
<div class="modal fade" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <p> Login to Picoio </p>
            </div>
            <div class="modal-body">
                <p>
                    Username:
                    <div class="form-group">
                        <input id="username" class="form-control inputdefault" type="text">
                    </div>
                </p>
                <p>
                    Password:
                    <div class="form-group">
                        <input id="password" class="form-control inputdefault" type="password">
                    </div>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="login();"> Login </button>
                <button type="button" class="btn btn-secondary" onclick="register();"> Register </button>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/header.js"></script>
<link rel="stylesheet" href="/static/css/header.css">