<h2>
    {% if title=="Rookie" %}
    <span class="text-muted"> {{ title }} </span> {{ name }} {% endif %} {% if title=="Soldier" %}
    <span class="text-primary"> {{ title }} </span> {{ name }} {% endif %} {% if title=="Battlemaster" %}
    <span class="text-success"> {{ title }} </span> {{ name }} {% endif %} {% if title=="Destroyer" %}
    <span class="text-danger"> {{ title }} </span> {{ name }} {% endif %}
</h2>

<h3>
    <strong>Wins</strong>
    <span class="text-success"> {{ wins }} </span>
    <strong>Losses</strong>
    <span class="text-danger"> {{ losses }} </span>
</h3>
<h3>
    <strong>W/L</strong> {{ winloss }} %
</h3>

<style>
    h3,
    h1,
    h2 {
        margin-left: 3%;
    }
</style>