#new_game, #join_full {
    display: none;
    margin-top: 30px;
    width: 90%;
}
#reloadGames, li {
    margin-left: 20px;
    margin-right: 20px;
}
#picoheader {
    text-align: center;
}
body {
    padding-bottom: 30px;
}
.glyphicon {
    font-size: 3em;
}